:root {
  --color-black: #000000;
  --color-blue: #0000ff;
  --color-red: #ff0000;
  --color-white: #ffffff;

  --color-blue-2: #00b5cc;

  --color-gray-1: #0a0a0a;
  --color-gray-2: #1f1f1f;
  --color-gray-3: #27046a;
  --color-gray-4: #3d3d3d;
  --color-gray-5: #666666;
  --color-gray-6: #839097;
  --color-gray-7: #a4a4a4;
  --color-gray-8: #999999;
  --color-gray-9: #f1f1f1;

  --color-green-1: #9aca3c;
  --color-green-2: #b2df28;
}
